<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mi App Musical
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-label>Toca el Instrumentos para hacer música</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of instrumentos">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle (click)="ver(item.imagen)" >Ver</ion-card-subtitle>
                    <ion-card-title>{{ item.nombre }}</ion-card-title>
                  </ion-card-header>
                <ion-img (click)="reproducirSonido(item)" [src]="item.imagen"></ion-img>
            </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>
